<app-header></app-header>

<section class="section about">
	<div class="container">
		<p class="title">PhD Theses</p>
		<div class="title_decoration"></div>
    <br>
        <p>Ultra-High Energy Cosmic Rays</p>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Thesis</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Juan Miguel Carceller López</td>
                <td><a href="https://digibug.ugr.es/handle/10481/63939" target="_blank">https://digibug.ugr.es/handle/10481/63939</a></td>
                <td>2020</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Patricia Sánchez Lucas </td>
                <td><a href="https://digibug.ugr.es/handle/10481/44643" target="_blank">https://digibug.ugr.es/handle/10481/44643</a></td>
                <td>2017</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Laura Molina Bueno</td>
                <td><a href="https://digibug.ugr.es/handle/10481/40899" target="_blank">https://digibug.ugr.es/handle/10481/40899</a></td>
                <td>2015</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Alberto Gascón Bravo</td>
                <td><a href="https://digibug.ugr.es/handle/10481/32118" target="_blank">https://digibug.ugr.es/handle/10481/32118</a></td>
                <td>2014</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Bruno Zamorano García</td>
                <td><a href="https://digibug.ugr.es/handle/10481/34120" target="_blank">https://digibug.ugr.es/handle/10481/34120</a></td>
                <td>2014</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Jose Luis Navarro Quirante</td>
                <td><a href="https://digibug.ugr.es/handle/10481/26377" target="_blank">https://digibug.ugr.es/handle/10481/26377</a></td>
                <td>2012</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Diego Garcia Gámez</td>
                <td><a href="https://www.educacion.gob.es/teseo/mostrarRef.do?ref=903942" target="_blank">https://www.educacion.gob.es/teseo/mostrarRef.do?ref=903942</a></td>
                <td>2010</td>
              </tr>
            </tbody>
          </table>

          <br>

        <p>Liquid Argon TPCs for rare event searches</p>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Thesis</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>María del Carmen Carmona Benítez</td>
                <td><a href="https://digibug.ugr.es/handle/10481/2367" target="_blank">https://digibug.ugr.es/handle/10481/2367</a></td>
                <td>2009</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Antonio Jesús Melgarejo Fernández</td>
                <td><a href="https://digibug.ugr.es/handle/10481/1934" target="_blank">https://digibug.ugr.es/handle/10481/1934</a></td>
                <td>2008</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Alberto Martinez de la Ossa</td>
                <td><a href="https://digibug.ugr.es/handle/10481/1488" target="_blank">https://digibug.ugr.es/handle/10481/1488</a></td>
                <td>2007</td>
              </tr>
            </tbody>
          </table>

    </div>
</section><br>

<app-footer></app-footer>