<app-header></app-header>
<br>

<div class="container">

    <p class="title_1">Our research</p>
    <div class="title_decoration"></div>
    
    <br>
    <h2 class="title">Neutrino Physics</h2>
    <p>
        The field of Neutrino Physics suffered a complete revolution twenty years ago with the 
        discovery of neutrino oscillations. This phenomenon, in which a certain type of neutrino 
        transforms into a different one periodically, implies that neutrinos, postulated massless, 
        have a non-zero mass. This observation revealed that the most accurate theory to explain 
        the interactions among fundamental particles, the Standard Model, was incomplete. Over 
        the last decade, the neutrino community has focused mainly on measuring with precision 
        the three mixing angles and the two mass-squared differences that describe the amplitude 
        and frequency of the neutrino oscillation probability. However, crucial questions about 
        neutrinos remain unknown. We do not know yet the absolute value of the neutrino masses 
        and their respective ordering, or if neutrinos can be their own antiparticles. We do not 
        know whether if there are any other type of exotic neutrino, like the sterile neutrino. In the 
        same way, we wonder if neutrinos preserve or violate the charge-parity (CP) symmetry of 
        Nature, a symmetry between matter and antimatter, that in case of being violated would 
        lead to differences in the behaviour of neutrinos and antineutrinos. The violation of the CP 
        symmetry, although small, is well established for quarks. In the neutrino sector there are 
        important hints that indicate CP violation but an observation with more than 5σ significance 
        is still missing. This would be a major breakthrough to understand the imbalance of matter 
        and antimatter in the Universe. 
    </p>
    
    <img src="assets/LArTPC.jpg" class="rounded float-start" alt="">
    <img src="assets/PionTrack.jpg"  class="rounded float-end"alt="">
    
    <p style="clear: both; padding-top: 40px;">
        To meet the demands of the future and answer all these questions, there is a worldwide
        effort to develop two neutrino oscillation programs in the USA, with neutrinos being
        produced at Fermilab.  The first programme is on a short-baseline base, aiming to study
        neutrino oscillations very close to the production source to probe the hypothesis of a new
        type of sterile neutrino. The other one is a long-baseline program, with the goal of detecting
        neutrino oscillations 1300 km from the source production source to primarily investigate the mass
        ordering and the CP violation in the neutrino sector.
    </p>

    <p>
        In both neutrino programs the main detector technology will be based on the liquid argon
        time projection chambers (LArTPCs) that simultaneously measure light and ionisation charges 
        produced after a particle interaction. In this detectors, when an incident charged particle 
        ionizes the argon atoms, free electrons and positively charged ions are produced. In addition, 
        argon scintillation light is emitted (128nm). These photons allow for the 
        reconstruction of the interaction time. The electrons drifted with the help of an electric 
        field towards charge readout planes. The combination of light and charge signals makes possible 
        the 3D reconstruction of the event vertex and the tracks.
        The energy deposition of tracks can be used for calorimetry and particle identification.
    </p>

    <p>
        In the view of this international landscape, we contribute to the development of one of the
        detectors integrated in the short-baseline program, <a href="https://sbn-nd.fnal.gov/" style="text-decoration: none;" target="_blank">SBND</a>, and in the long-baseline
        experiment <a href="https://www.dunescience.org/" style="text-decoration: none;" target="_blank">DUNE</a>.
    </p>
    <br>

    <h2 class="title">The SBND Experiment:</h2>

    <p>
        The <a href="https://sbn-nd.fnal.gov/" style="text-decoration: none;" target="_blank">Short-Baseline Near Detector (SBND)</a> will be one the three liquid argon neutrino
        experiments sitting in the Booster Neutrino Beam at Fermilab as a part of the Short
        Baseline Neutrino (SBN) program. In particular, SBND will be the near detector of the
        program, being located only 110 m from the neutrino production source. The experiments
        MircroBooNE and ICARUS are, respectively, the intermediate and far detectors in the
        program.
    </p>

    <p>
        SBND will be a LArTPC with an active volume of 112 tons and aims to record over a
        million neutrino interactions per year. With such a large statistics, SBND will play a
        critical role in the searches of neutrino interactions for the SBN program. The large data
        sample will also allow studies of neutrino-argon interactions (GeV range) with
        unprecedented precision.
    </p>

    <img src="assets/SBN_Map.jpg" alt="" class="single-images">

    <br>
    <h2 class="title">The DUNE Experiment:</h2>

    <p>
        The <a href="https://www.dunescience.org/" style="text-decoration: none;" target="_blank">Deep Underground Neutrino Experiment (DUNE)</a> is the leading-edge next-generation
        long baseline neutrino experiment designed to probe the CP violation in the neutrino
        sector and determine the mass ordering. In particular, after 7 years of data taking, DUNE
        will measure the CP phase with more than 3σ significance for 65% of all the possible
        values and the mass ordering will be completely determined (>5σ) for any value of the CP
        phase.
    </p>

    <p>
        For the Physics Community DUNE is the next accelerator-based mega-science project
        after the LHC at CERN (Switzerland). DUNE will have a very rich scientific program,
        starting from neutrino oscillations and including nucleon decay searches, astroparticle
        physics (e.g. supernova neutrinos) and a wide range of  beyond the Standard Model physics, 
        such as sterile neutrinos, non-standard interactions and extra dimensions. DUNE will
        consist of a highly capable near detector (ND) and a 40-kton fiducial mass far detector
        (FD) located 1300 km from the source at the Sanford Underground Research Facility
        (SURF).
    </p>

    <img src="assets/dune.jpg" alt="" class="single-images">
    <img src="assets/DUNE_FD.jpg" alt="" class="single-images">

</div>

<br>

<!-- <p>
The Deep Underground Neutrino Experiment (DUNE) is a leading-edge, international experiment for neutrino science and proton decay studies. Discoveries over the past half-century have put neutrinos, the most abundant matter particles in the universe, in the spotlight for further research into several fundamental questions about the nature of matter and the evolution of the universe — questions that DUNE will seek to answer.
DUNE will consist of two neutrino detectors placed in the world’s most intense neutrino beam. One detector will record particle interactions near the source of the beam, at the Fermi National Accelerator Laboratory in Batavia, Illinois. A second, much larger, detector will be installed more than a kilometer underground at the Sanford Underground Research Laboratory in Lead, South Dakota — 1,300 kilometers downstream of the source. These detectors will enable scientists to search for new subatomic phenomena and potentially transform our understanding of neutrinos and their role in the universe.
</p>

<br>
<img src="/assets/dune.jpg" width="80%" style="display:block; margin:auto;">
<br> -->

<app-footer></app-footer>